body{
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.Donation_Form {
  background: #EBEBEB;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 6px 2px rgba(0, 0, 0, 0.15);
  width: 650px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Donation_Form h2 {
    color: #c00;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-top: 25px;
}


label.required::after{
  content: "*";
  color: red;
}
/* ====== Label + Input Fields ====== */
label {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.dontation-amount label{
  display: inline-block;
  margin-right: 15px;
  font-weight: normal;
}


textarea {
  resize: vertical;
}

