/* General Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* logo left, nav/menu right */
    background-color: #001B44;
    color: white;
    padding: 10px 25px;
}
header div.Logo-Container{
    flex: 1;
}
header div.Title-Container{
    flex: 10;
    text-align: center;
    margin-right: 200px;
}
header img {
    width: 200px;
    height: 150px;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    margin: 0;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.active {
    text-decoration: underline;
}
nav ul li a:active {
    color:#333;
    text-decoration: underline;
}
nav ul li a:hover{
    color:bisque
}

/* Main Content */
main {
    display: flex;
    padding: 20px;
    flex: 1;
}

main section {
    flex: 4;
}

main aside {
    flex: 1;
    margin-left: 20px;
}

aside ul {
    padding-left: 15px;
}

/* Highlight & Ad Boxes */
.highlight,
.ad-box {
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 15px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    main aside {
        margin-left: 0;
        margin-top: 20px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 5px 0;
    }

    header img {
        width: 150px;
        height: auto;
        margin-bottom: 10px;
    }
}
